  .spacer {
    flex: 1;
  }

  .footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height:fit-content;
    /*display: flex;*/
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .logo_stuff, .contact, .developers, .copyright{
    width: 100%;
    text-align: center;
  }

  .developers{
    list-style: none;
    padding: 0;
  }

  /*footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }*/

  #twitter-logo, #youtube-logo, #instagram-logo {
    height: 40px;
    margin: 0 8px;
  }

  #instagram-logo {
    fill: white;
  }

  #twitter-logo:hover,
  #youtube-logo:hover, 
  #instagram-logo:hover{
    opacity: 0.7;
  }