<div style="padding-top: 70px; padding-left: 15px;">
    <h1>Rate your vacation preferences 1 to 5, where 5 means you love it and 1 means you hate it.</h1>
    
    <div style="padding-left: 30px;">
        <h2>Climate</h2>

        <div class="grid-container-element">
            <div style="text-align: left; padding-left: 10px; width: 100%;">
                <h3>Warm Weather</h3>
            </div>
            <div style="width: 150%; padding-top: 8px;">
                <input type="range" min="1" max="5" value="3" class="slider" id="warm_weather" oninput='document.getElementById("warm_weather_value").textContent = "Value = "+value'>
            </div>
            <div style="padding-left: 100px;">
                <h4 id="warm_weather_value">Value = 1</h4>
            </div>
        </div>

        <div class="grid-container-element">
            <div style="text-align: left; padding-left: 10px; width: 100%;">
                <h3>Cold Weather</h3>
            </div>
            <div style="width: 150%; padding-top: 8px;">
                <input type="range" min="1" max="5" value="3" class="slider" id="cold_weather" oninput='document.getElementById("cold_weather_value").textContent = "Value = "+value'>
            </div>
            <div style="padding-left: 100px;">
                <h4 id="cold_weather_value">Value = 1</h4>
            </div>
        </div>

        <div class="grid-container-element">
            <div style="text-align: left; padding-left: 10px; width: 100%;">
                <h3>Rain</h3>
            </div>
            <div style="width: 150%; padding-top: 8px;">
                <input type="range" min="1" max="5" value="3" class="slider" id="rain" oninput='document.getElementById("rain_value").textContent = "Value = "+value'>
            </div>
            <div style="padding-left: 100px;">
                <h4 id="rain_value">Value = 1</h4>
            </div>
        </div>
        
        <div class="grid-container-element">
            <div style="text-align: left; padding-left: 10px; width: 100%;">
                <h3>Humidity</h3>
            </div>
            <div style="width: 150%; padding-top: 8px;">
                <input type="range" min="1" max="5" value="3" class="slider" id="humitidy" oninput='document.getElementById("humitidy_value").textContent = "Value = "+value'>
            </div>
            <div style="padding-left: 100px;">
                <h4 id="humitidy_value">Value = 1</h4>
            </div>
        </div>
        
        <div class="grid-container-element">
            <div style="text-align: left; padding-left: 10px; width: 100%;">
                <h3>Dry Climates</h3>
            </div>
            <div style="width: 150%; padding-top: 8px;">
                <input type="range" min="1" max="5" value="3" class="slider" id="dry_climates" oninput='document.getElementById("dry_climates_value").textContent = "Value = "+value'>
            </div>
            <div style="padding-left: 100px;">
                <h4 id="dry_climates_value">Value = 1</h4>
            </div>
        </div>

        <h2>Relaxing Activities</h2>

        <div class="grid-container-element">
            <div style="text-align: left; padding-left: 10px; width: 100%;">
                <h3>Beach</h3>
            </div>
            <div style="width: 150%; padding-top: 8px;">
                <input type="range" min="1" max="5" value="3" class="slider" id="beach" oninput='document.getElementById("beach_value").textContent = "Value = "+value'>
            </div>
            <div style="padding-left: 100px;">
                <h4 id="beach_value">Value = 1</h4>
            </div>
        </div>

        <div class="grid-container-element">
            <div style="text-align: left; padding-left: 10px; width: 100%;">
                <h3>Shopping</h3>
            </div>
            <div style="width: 150%; padding-top: 8px;">
                <input type="range" min="1" max="5" value="3" class="slider" id="shopping" oninput='document.getElementById("shopping_value").textContent = "Value = "+value'>
            </div>
            <div style="padding-left: 100px;">
                <h4 id="shopping_value">Value = 1</h4>
            </div>
        </div>

        <h2>Physical Activities</h2>

        <div class="grid-container-element">
            <div style="text-align: left; padding-left: 10px; width: 100%;">
                <h3>Hiking</h3>
            </div>
            <div style="width: 150%; padding-top: 8px;">
                <input type="range" min="1" max="5" value="3" class="slider" id="hiking" oninput='document.getElementById("hiking_value").textContent = "Value = "+value'>
            </div>
            <div style="padding-left: 100px;">
                <h4 id="hiking_value">Value = 1</h4>
            </div>
        </div>

        <div class="grid-container-element">
            <div style="text-align: left; padding-left: 10px; width: 100%;">
                <h3>Camping</h3>
            </div>
            <div style="width: 150%; padding-top: 8px;">
                <input type="range" min="1" max="5" value="3" class="slider" id="camping" oninput='document.getElementById("camping_value").textContent = "Value = "+value'>
            </div>
            <div style="padding-left: 100px;">
                <h4 id="camping_value">Value = 1</h4>
            </div>
        </div>

        <div class="grid-container-element">
            <div style="text-align: left; padding-left: 10px; width: 100%;">
                <h3>Outdoor Sports</h3>
            </div>
            <div style="width: 150%; padding-top: 8px;">
                <input type="range" min="1" max="5" value="3" class="slider" id="outdoor_sports" oninput='document.getElementById("outdoor_sports_value").textContent = "Value = "+value'>
            </div>
            <div style="padding-left: 100px;">
                <h4 id="outdoor_sports_value">Value = 1</h4>
            </div>
        </div>

        <div class="grid-container-element">
            <div style="text-align: left; padding-left: 10px; width: 100%;">
                <h3>Winter Sports</h3>
            </div>
            <div style="width: 150%; padding-top: 8px;">
                <input type="range" min="1" max="5" value="3" class="slider" id="winter_sports" oninput='document.getElementById("winter_sports_value").textContent = "Value = "+value'>
            </div>
            <div style="padding-left: 100px;">
                <h4 id="winter_sports_value">Value = 1</h4>
            </div>
        </div>

        <div class="grid-container-element">
            <div style="text-align: left; padding-left: 10px; width: 100%;">
                <h3>Water Sports</h3>
            </div>
            <div style="width: 150%; padding-top: 8px;">
                <input type="range" min="1" max="5" value="3" class="slider" id="water_sports" oninput='document.getElementById("water_sports_value").textContent = "Value = "+value'>
            </div>
            <div style="padding-left: 100px;">
                <h4 id="water_sports_value">Value = 1</h4>
            </div>
        </div>

        <div class="grid-container-element">
            <div style="text-align: left; padding-left: 10px; width: 100%;">
                <h3>Amusement Parks</h3>
            </div>
            <div style="width: 150%; padding-top: 8px;">
                <input type="range" min="1" max="5" value="3" class="slider" id="amusement_parks" oninput='document.getElementById("amusement_parks_value").textContent = "Value = "+value'>
            </div>
            <div style="padding-left: 100px;">
                <h4 id="amusement_parks_value">Value = 1</h4>
            </div>
        </div>

        <h2>21+ Activities</h2>

        <div class="grid-container-element">
            <div style="text-align: left; padding-left: 10px; width: 100%;">
                <h3>Clubs & Bars</h3>
            </div>
            <div style="width: 150%; padding-top: 8px;">
                <input type="range" min="1" max="5" value="3" class="slider" id="clubs_and_bars" oninput='document.getElementById("clubs_and_bars_value").textContent = "Value = "+value'>
            </div>
            <div style="padding-left: 100px;">
                <h4 id="clubs_and_bars_value">Value = 1</h4>
            </div>
        </div>

        <div class="grid-container-element">
            <div style="text-align: left; padding-left: 10px; width: 100%;">
                <h3>Casinos</h3>
            </div>
            <div style="width: 150%; padding-top: 8px;">
                <input type="range" min="1" max="5" value="3" class="slider" id="casinos" oninput='document.getElementById("casinos_value").textContent = "Value = "+value'>
            </div>
            <div style="padding-left: 100px;">
                <h4 id="casinos_value">Value = 1</h4>
            </div>
        </div>
        
        <h2>Other Activities</h2>

        <div class="grid-container-element">
            <div style="text-align: left; padding-left: 10px; width: 100%;">
                <h3>Sightseeing Tours</h3>
            </div>
            <div style="width: 150%; padding-top: 8px;">
                <input type="range" min="1" max="5" value="3" class="slider" id="sightseeing_tours" oninput='document.getElementById("sightseeing_tours_value").textContent = "Value = "+value'>
            </div>
            <div style="padding-left: 100px;">
                <h4 id="sightseeing_tours_value">Value = 1</h4>
            </div>
        </div>

        <div class="grid-container-element">
            <div style="text-align: left; padding-left: 10px; width: 100%;">
                <h3>Boardwalk Attractions</h3>
            </div>
            <div style="width: 150%; padding-top: 8px;">
                <input type="range" min="1" max="5" value="3" class="slider" id="boardwalk_attractions" oninput='document.getElementById("boardwalk_attractions_value").textContent = "Value = "+value'>
            </div>
            <div style="padding-left: 100px;">
                <h4 id="boardwalk_attractions_value">Value = 1</h4>
            </div>
        </div>

        <div class="grid-container-element">
            <div style="text-align: left; padding-left: 10px; width: 100%;">
                <h3>Concerts</h3>
            </div>
            <div style="width: 150%; padding-top: 8px;">
                <input type="range" min="1" max="5" value="3" class="slider" id="concerts" oninput='document.getElementById("concerts_value").textContent = "Value = "+value'>
            </div>
            <div style="padding-left: 100px;">
                <h4 id="concerts_value">Value = 1</h4>
            </div>
        </div>

        <div class="grid-container-element">
            <div style="text-align: left; padding-left: 10px; width: 100%;">
                <h3>Professional Sports</h3>
            </div>
            <div style="width: 150%; padding-top: 8px;">
                <input type="range" min="1" max="5" value="3" class="slider" id="professional_sports" oninput='document.getElementById("professional_sports_value").textContent = "Value = "+value'>
            </div>
            <div style="padding-left: 100px;">
                <h4 id="professional_sports_value">Value = 1</h4>
            </div>
        </div>

        <h2>Price (1 = inexpensive better, 5 = expensive better, 3 = no preference)</h2>
        <div class="grid-container-element">
            <div style="text-align: left; padding-left: 10px; width: 100%;">
                <h3>   </h3>
            </div>
            <div style="width: 150%; padding-top: 8px;">
                <input type="range" min="1" max="5" value="3" class="slider" id="price" oninput='document.getElementById("price_value").textContent = "Value = "+value'>
            </div>
            <div style="padding-left: 100px;">
                <h4 id="price_value">Value = 1</h4>
            </div>
        </div>

        <h2>Distance from Home (1 = close better, 5 = further better, 3 = no preference)</h2>
        <div class="grid-container-element">
            <div style="text-align: left; padding-left: 10px; width: 100%;">
                <h3>   </h3>
            </div>
            <div style="width: 150%; padding-top: 8px;">
                <input type="range" min="1" max="5" value="3" class="slider" id="distance" oninput='document.getElementById("distance_value").textContent = "Value = "+value'>
            </div>
            <div style="padding-left: 100px;">
                <h4 id="distance_value">Value = 1</h4>
            </div>
        </div>
        <div class="grid-container-element">
            <div style="text-align: left; padding-left: 10px; width: 100%;">
                <h3>   </h3>
            </div>
            <div style="text-align: left; padding-left: 10px; width: 200%;">
                <h3>Please specify home:</h3>
            </div>
            <select style="padding-left: 125px;" id="home_input" name="home_input">
                <option value="phila_pa"></option>
                <option value="phila_pa">Allentown,PA</option>
                <option value="phila_pa">Altoona,PA</option>
                <option value="phila_pa">Erie,PA</option>
                <option value="phila_pa">Gettysburg,PA</option>
                <option value="phila_pa">Grove City,PA</option>
                <option value="phila_pa">Hershey,PA</option>
                <option value="phila_pa">Indiana,PA</option>
                <option value="phila_pa">Jim Thorpe,PA</option>
                <option value="phila_pa">King of Prussia,PA</option>
                <option value="phila_pa">Lancaster,PA</option>
                <option value="phila_pa">Mansfield,PA</option>
                <option value="phila_pa">Mt Pocono,PA</option>
                <option value="phila_pa">Philadelphia,PA</option>
                <option value="phila_pa">Pittsburgh,PA</option>
                <option value="phila_pa">Punxsutawney,PA</option>
                <option value="phila_pa">Scranton,PA</option>
                <option value="phila_pa">Somerset,PA</option>
                <option value="phila_pa">State College,PA</option>
                <option value="phila_pa">Uniontown,PA</option>
                <option value="phila_pa">Williamsport,PA</option>
                <option value="phila_pa">York,PA</option>
            </select>
        </div>

        <h2>Accommodations</h2>
        
        <div class="grid-container-element">
            <div style="text-align: left; padding-left: 10px; width: 100%;">
                <h3>Hotel/Resort</h3>
            </div>
            <div style="width: 150%; padding-top: 8px;">
                <input type="range" min="1" max="5" value="3" class="slider" id="hotel_resort" oninput='document.getElementById("hotel_resort_value").textContent = "Value = "+value'>
            </div>
            <div style="padding-left: 100px;">
                <h4 id="hotel_resort_value">Value = 1</h4>
            </div>
        </div>

        <div class="grid-container-element">
            <div style="text-align: left; padding-left: 10px; width: 100%;">
                <h3>Airbnb</h3>
            </div>
            <div style="width: 150%; padding-top: 8px;">
                <input type="range" min="1" max="5" value="3" class="slider" id="airbnb" oninput='document.getElementById("airbnb_value").textContent = "Value = "+value'>
            </div>
            <div style="padding-left: 100px;">
                <h4 id="airbnb_value">Value = 1</h4>
            </div>
        </div>

        <div class="grid-container-element">
            <div style="text-align: left; padding-left: 10px; width: 100%;">
                <h3>Beach House</h3>
            </div>
            <div style="width: 150%; padding-top: 8px;">
                <input type="range" min="1" max="5" value="3" class="slider" id="beach_house" oninput='document.getElementById("beach_house_value").textContent = "Value = "+value'>
            </div>
            <div style="padding-left: 100px;">
                <h4 id="beach_house_value">Value = 1</h4>
            </div>
        </div>

        <div class="grid-container-element">
            <div style="text-align: left; padding-left: 10px; width: 100%;">
                <h3>Cabin</h3>
            </div>
            <div style="width: 150%; padding-top: 8px;">
                <input type="range" min="1" max="5" value="3" class="slider" id="cabin" oninput='document.getElementById("cabin_value").textContent = "Value = "+value'>
            </div>
            <div style="padding-left: 100px;">
                <h4 id="cabin_value">Value = 1</h4>
            </div>
        </div>

        <div style="padding-left: 37%; padding-bottom: 15px; padding-top: 15px;">
            <button class="submit-prefs" (click)="submitTheDataMate()"> Submit and View Matching Locations</button>
        </div>
    </div>
</div>
